<h2 class="content-block">Detalle</h2>

<dx-data-grid id="gridContainer" 
[dataSource]="dataSource" 
[showBorders]="true" 
[remoteOperations]="true">
  <dxi-column dataField="id" dataType="number"> </dxi-column>
  <dxi-column dataField="producto" dataType="date"> </dxi-column>
  <dxi-column dataField="cantidad" dataType="string"> </dxi-column>
  <dxi-column dataField="valorTotal" dataType="string"> </dxi-column>
  <dxo-paging [pageSize]="12"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]">
  </dxo-pager>
</dx-data-grid>